body {
    background-image: url("pic1.jpg");
    background-repeat: no-repeat;
   
    height:690px;
    background-size:78% 100%;
    background-position:right center;
    font-family: "montserrat",sans-serif;

}
.title{
    margin-top: 5%;
    margin-left: 13%;
    font-size:40px;
    color: black;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
.b1{
    width: 350px;
    height: 220px;
    top: 30%;
    left: 10%;
    position: absolute;
    background-color: #353b48 ;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 150px;

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
 .w-100{
     margin-top: 30px;
     width: 200px;
  
   
 }
 
 .x{
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration:none;
 }
 .x:hover{
    background: #70a1ff;
    color: #fff;
 }
 
  